@mixin center-object {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;

    }

}

// Media Query Ranges (Responsive Breakpoints)
// 0-576px for portrait phones.
// 577-768px for tablets port.
// 769-991px for tablets in landcape mode.
// 992-1200px for laptops.
// 1200px+ for large devices.
@mixin respond ($breakpoint) {

    @if $breakpoint==small-phone {
        @media only screen and (max-width:22.75em) {
            @content;
        }
    }

    @if $breakpoint==phone {
        @media only screen and (max-width:36em) {//1rem = 16px 576 / 16 = 36em
            @content;
        }
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width:48em) {
            @content;
        }
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width:61.9em) {
            @content;
        }
    }

    @if $breakpoint==big-desktop {
        @media only screen and (max-width:61.9em) {
            @content;
        }
    }

    

}