//colors
$pimary-light:rgb(66, 109, 73);
$pimary-dark: rgb(79, 97, 42);
$pimary-light: #28b485;

$secondary-1: #e2b5a8;
$secondary-2: #bbd4eb;
$secondary-3: #83988e;
$secondary-4: #c4ac6c;

$secondary-1-dark: rgb(135, 108, 100);
$secondary-2-dark: #707f;
$secondary-3-dark: #e2b5a8;

$secondary-light: #ffb900;
$tertiary-light: #2998ff;

$white:#fff;
$black:#000;
$brown:#846c38;

$gray-dark:#777;
$gray-dark-2:#999;
$gray-dark-3:#333;
$gray-light-1:#f7f7f7;
$gray-light-2:#eee;

//font

$default-font-size:1.6rem;

//grid variables

$horizontal-gutter:6rem;
$vertical-gutter:8rem;
$vertical-gutter-smal:4rem;


