.bg-video{

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 95vh;
    width: 100%;
    opacity: .4;
    &__content{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $tertiary-light;
        opacity: .5;
        z-index: 2cd de 
        ;
    }
}